set_io rst_n 19

set_io usb_dp 10
set_io usb_dn 9

set_io usb_pu 11
set_io led 40

set_io rx_valid 39
set_io dbg_io1 18
set_io dbg_io2 45

set_io usb_feedthrough_dp_o 46
set_io usb_feedthrough_dn_o 44
