set_io rst_n_i 19
set_io clk_i 13

set_io dev_usb_dp_io 32 --pullup yes
set_io dev_usb_dn_io 31 --pulldown yes

set_io dev_usb_host_en 35
set_io dev_usb_ls_en 34 

set_io led_r_o 40
set_io led_g_o 39
set_io led_b_o 41

set_io ulpi_reset_o 9
set_io dbg_io_o 11
